<button [routerLink]="['/estructural']" routerLinkActive="active" >Ir a componente estructural</button>
<button [routerLink]="['/pipes']" routerLinkActive="active">Ir a pipes</button>
<button [routerLink]="['/compra']" routerLinkActive="active">Compra</button>
<button [routerLink]="['/venta']" routerLinkActive="active">Venta</button>
<button [routerLink]="['/formularios']" routerLinkActive="active">Formulario</button>
<button [routerLink]="['/todos']" routerLinkActive="active">Todos</button>
<p>header works!</p>
