<!--  
<h1>Directivas</h1>

<h2>De atributo</h2>
<app-atributo></app-atributo>

<hr>

<h2>Estructurales</h2>
<app-estructural></app-estructural>

<hr>

<h2>Pipes</h2>
<app-pipes></app-pipes>
-->
<button [routerLink]="['/estructural']" routerLinkActive="active" >Ir a componente estructural</button>
<button [routerLink]="['/pipes']" routerLinkActive="active">Ir a pipes</button>
<button [routerLink]="['/compra']" routerLinkActive="active">Compra</button>

<!-- <app-listado></app-listado> -->

<router-outlet></router-outlet>
