<p>formulario works!</p>

<form [formGroup]="form">
    <div>
        <input 
        type="text" 
        placeholder="Nombre" 
        formControlName="name"> 
        <!-- <pre> -->
            <!-- <code> -->
                {{form.get('name')?.value }}
            <!-- </code> -->
        <!-- </pre> -->
    
    </div>
    
    <div>
        <input 
        type="checkbox" 
        formControlName="isChecked">
        <!-- <pre> -->
            <!-- <code> -->
                {{form.get('isChecked')?.value }} 
            <!-- </code> -->
        <!-- </pre> -->
    </div>
</form>
<button [disabled]="form.get('name')?.errors"></button>






